*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

body{
    background-color: #ddd;
    font-size: 18px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    margin: 50px;
}
/*Container*/
.container{
    display: grid;
    gap: 10px;
}

/* Header */
.header{
    display: grid;
    grid-template-areas: 
    'hero hero feature-1'
    'hero hero feature-2';
}

.hero{
    grid-area: hero;
    min-height: 300px;
    background-image: url(image/Biscuit.jpg);
    background-size: cover; /*agar gambar mengcover seluruh div*/
    background-position: center; /*agar posisi gambar di tengah*/
    padding: 50px;
}

.hero > *{
    display: none;
    background-color: #000;
    border-radius: 5px;
}

.features{
    background-color: black;
    color: white;
    display: grid;
    place-content: center; /*agar item ada di tengah div*/
    text-align: center;
    cursor: pointer;
}

.features-1 {
    grid-area: feature-1;
    background-image: url(image/butter.jpg);
    background-size: cover;
}

.features-2 {
    grid-area: feature-2;
    background-image: url(image/Chiffon.jpeg);
    background-size: cover;
}

.features .price{
    font-size: 3em; /*agar font di perbesar 3 kali ukuran awal*/
    font-weight: 200; /*memperamping font*/
}

/*Nav*/
.menu{
    order: -1; /*memindahkan menu ke atas(karna contenernya grid)*/
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center; /*agar menu ada di tengah(vertikal) div*/
}

.menu .brand {
    font-size: 1.3em;
    color: #333;
}

.menu ul{
    display: grid;
    list-style: none; /*agar style list hilang*/
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr)); /*auto-fit agar lebar di sesuaikan dengan jumlah menu*/
    gap: 5px; /*agar ada jarak di setiap grid*/
}

.menu a{
    display: block; /*agar cursor tetap pointer di dalam block menu*/
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-transform: uppercase; /*agar tulisan kapital*/
    font-size: 0.9em;
}

/*Services*/
.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.service{
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.service .icon img{
    width: 100px;
    height: 100px;
}

/*Products*/
.products{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr;
    grid-template-rows: 5fr 5fr 5fr;
    grid-auto-rows: 3fr;
    grid-auto-flow: column;
    gap: 20px;
}

.product{
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.product a{
    text-decoration: none;
    color: black;
}


/*Gallery*/
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    margin-top: 30px;
    gap: 5px;
}

.gallery h2{
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 20px;
}

/*Footer*/
.footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 10px;
    border-radius: 3px;
}

/*About*/
.about{
    background-color: white;
    border-radius: 3px;
    padding: 50px;
}

.about img{
    height: 30%;
    width: 50%;
    margin: 10PX;
}

.about P{
    text-
}
/*Responsive Breakpoint (harus di bagian bawah)*/
@media (max-width: 1024px) { /*layar komputer*/
    .menu{
        order: inherit; /*ordernya di kembalikan ke awal*/
        grid-template-columns: 1fr;
    }

    .menu .brand{
        display: none;
    }

    .hero > *{
        display: block;
        color: white;
        padding: 5px;
        margin-bottom: 5px;
    }

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .products{
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
    }

    .about img{
        height: 15%;
        width: 50%;
}

@media (max-width: 768px) { /*layar tablet*/
    body{
        margin: 30px;
    }

    .about img{
        height: 15%;
        width: 100%;
}

    .products{
        grid-template-columns: 50% 50%;
        grid-auto-flow: row;
        grid-template-rows: 360px;
    }
}

@media (max-width: 600px) { /*layar hp*/
    body{
        margin: 15px;
    }

    .about img{
        height: 5%;
        width: 100%;
}
    
    .header{
        grid-template-areas: 
        'hero'
        'feature-1'
        'feature-2';
    }

    .products{
        grid-template-columns: 100%;
        grid-template-rows: 440px;
        grid-auto-flow: row;
    }
}

